# Node modules
node_modules/

# Client build outputs
client/.next/
client/.next-static/
client/out/
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

# Backend build outputs
backend/.next/
backend/.next-static/
backend/out/
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.local
.env.*.local
